[submodule "themes/terminal"]
	path = themes/terminal
	url = https://github.com/panr/hugo-theme-terminal.git
[submodule "themes/Niello"]
	path = themes/Niello
	url = https://github.com/guangmean/Niello.git
